---
http_interactions:
- request:
    method: get
    uri: https://api.work-api.com/email/mailboxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODU3NTY0NDMsImlhdCI6MTU4MzMzNzI0MywiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTRhYmQzYjJjMjgwYTAwMWUzMjFkODgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0NDc1NDk5MEB3b3JrLWFwaS5jb20ifX0.3SS3-tLHDZ0oWMlqrHQZV7RIC13c6I9SbPq-YBBschs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOkNIQVQ6","type":"mailbox","attributes":{"integration_id":"5e60f76b99ce66000936897b","name":"CHAT","unread_count":0,"total_count":0}},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOlNFTlQ6","type":"mailbox","attributes":{"integration_id":"5e60f76b99ce66000936897b","name":"SENT","unread_count":138,"total_count":174}},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOklOQk9Y","type":"mailbox","attributes":{"integration_id":"5e60f76b99ce66000936897b","name":"INBOX","unread_count":347,"total_count":355}},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOklNUE9SVEFOVDo6","type":"mailbox","attributes":{"integration_id":"5e60f76b99ce66000936897b","name":"I[...]
