---
http_interactions:
- request:
    method: post
    uri: https://api-alpha.work-api.com/event/events
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"remote_id":"","integration_id":"5e7b7829f40c9b001c2d4e6f","name":"test","description":"","attendees":[],"start_date_time":"2020-02-29T13:00:00+01:00","start_timezone":"Europe/Budapest","end_date_time":"2020-02-29T14:00:00+01:00","end_timezone":"Europe/Budapest","location":"","all_day":false,"reminders":[],"recurrence":"","parent_event_id":"","attachments":[],"created_at":0,"updated_at":0,"calendar_id":""},"type":"event"}}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODcxMDY0MzUsImlhdCI6MTU4NDY4NzIzNSwiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTc0Njg3Mzg1OWMyMDAwMDkwMmIxNTgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0MzUxNDgxM0B3b3JrLWFwaS5jb20ifX0.syElOsiOeUBt4DeiMjc1rm1NdEEi6bV_4dcPE4MBkdA
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"NWU3Yjc4MjlmNDBjOWIwMDFjMmQ0ZTZmOjdzbGtmZTZucWQ0ZW9pNmxkZWNxNDQ4cmI0","type":"event","attributes":{"integration_id":"5e7b7829f40c9b001c2d4e6f","remote_id":"7slkfe6nqd4eoi6ldecq448rb4","calendar_id":"NWU3Yjc4MjlmNDBjOWIwMDFjMmQ0ZTZmOnByaW1hcnk6","name":"test","description":"","attendees":[],"start_date_time":"2020-02-29T13:00:00+01:00","start_timezone":"Europe/Budapest","end_date_time":"2020-02-29T14:00:00+01:00","end_timezone":"Europe/Budapest","all_day":false,"parent_event_id":"","location":"","recurrence":"","created_at":1586531724,"updated_at":1586531724}}}'
  recorded_at: Fri, 10 Apr 2020 15:15:24 GMT
recorded_with: VCR 5.1.0
