---
http_interactions:
- request:
    method: post
    uri: https://api-alpha.work-api.com/email/drafts
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"remote_id":"","integration_id":"5e74696b859c20000902b159","subject":"this
        is a test","body":{"plain_text":["This is a plain text test email"],"html":[]},"sender":null,"to_recipients":[{"name":"","address":"dan@livil.co"}],"cc_recipients":[],"bcc_recipients":[],"flags":null},"type":"email"}}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODcxMDY0MzUsImlhdCI6MTU4NDY4NzIzNSwiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTc0Njg3Mzg1OWMyMDAwMDkwMmIxNTgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0MzUxNDgxM0B3b3JrLWFwaS5jb20ifX0.syElOsiOeUBt4DeiMjc1rm1NdEEi6bV_4dcPE4MBkdA
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OnI4ODk5NjcwMDIzNTYxMzU3NzQy","type":"email","attributes":{"integration_id":"5e74696b859c20000902b159","bcc_recipients":[],"body":{"plain_text":["This
        is a plain text test email"],"html":[]},"cc_recipients":[],"flags":{"seen":true,"flagged":false},"labels":["draft"],"received_at":1585144719,"sender":{"name":"","address":"liviltestacc@gmail.com"},"subject":"this
        is a test","thread_id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OjE3MTExZmNlODkzZDQ5NzU6","to_recipients":[{"name":"","address":"dan@livil.co"}]},"relationships":{"mailboxes":{"data":[{"id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OkRSQUZU","type":"mailbox"}]},"email_attachments":{"data":[]}}}}'
  recorded_at: Wed, 25 Mar 2020 13:58:40 GMT
recorded_with: VCR 5.1.0
