---
http_interactions:
- request:
    method: put
    uri: https://api.work-api.com/email/drafts/NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OnItNjYwMDM5NTM0NTM3NjM4MjI3NDo6
    body:
      encoding: UTF-8
      string: "----test-boundary\r\nContent-Disposition: form-data; name=\"email\"\r\nContent-Type:
        application/vnd.api+json\r\n\r\n{\r\n  \"data\": {\r\n    \"attributes\":
        {\r\n      \"remote_id\": \"r-6600395345376382274\",\r\n      \"integration_id\":
        \"5e74696b859c20000902b159\",\r\n      \"subject\": \"Test Email Subject Updated
        (Request)\",\r\n      \"body\": {\r\n        \"plain_text\": [\r\n          \"This
        is a plain text body segment (updated)\"\r\n        ],\r\n        \"html\":
        [\r\n\r\n        ]\r\n      },\r\n      \"sender\": null,\r\n      \"to_recipients\":
        [\r\n        {\r\n          \"name\": \"Dan\",\r\n          \"address\": \"dan+updatedrequest@livil.co\"\r\n
        \       }\r\n      ],\r\n      \"cc_recipients\": [\r\n\r\n      ],\r\n      \"bcc_recipients\":
        [\r\n\r\n      ],\r\n      \"flags\": null\r\n    },\r\n    \"type\": \"email\",\r\n
        \   \"id\": \"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OnItNjYwMDM5NTM0NTM3NjM4MjI3NDo6\"\r\n
        \ }\r\n}\r\n\r\n----test-boundary\r\nContent-Disposition: form-data; name=\"files[]\";
        filename=\"test_1.txt\"\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        base64\r\n\r\ndGVzdCBjb250ZW50IG9uZQ==\r\n----test-boundary\r\nContent-Disposition:
        form-data; name=\"files[]\"; filename=\"test_2.txt\"\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        base64\r\n\r\ndGVzdCBjb250ZW50IHR3bw==\r\n----test-boundary--"
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODcxMDY0MzUsImlhdCI6MTU4NDY4NzIzNSwiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTc0Njg3Mzg1OWMyMDAwMDkwMmIxNTgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0MzUxNDgxM0B3b3JrLWFwaS5jb20ifX0.syElOsiOeUBt4DeiMjc1rm1NdEEi6bV_4dcPE4MBkdA
      Content-Type:
      - multipart/form-data; boundary=--test-boundary
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OnItNjYwMDM5NTM0NTM3NjM4MjI3NDo6","type":"email","attributes":{"integration_id":"5e74696b859c20000902b159","bcc_recipients":[],"body":{"plain_text":["This
        is a plain text body segment (updated)"],"html":[]},"cc_recipients":[],"flags":{"seen":true,"flagged":false},"labels":["draft"],"received_at":1585145568,"sender":{"name":"","address":"liviltestacc@gmail.com"},"subject":"Test
        Email Subject Updated (Request)","thread_id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OjE3MTEyMDlkZDY1OWU2NmI6","to_recipients":[{"name":"Dan","address":"dan+updatedrequest@livil.co"}]},"relationships":{"mailboxes":{"data":[{"id":"NWU3NDY5NmI4NTljMjAwMDA5MDJiMTU5OkRSQUZU","type":"mailbox"}]},"email_attachments":{"data":[]}}}}'
  recorded_at: Wed, 25 Mar 2020 14:12:48 GMT
recorded_with: VCR 5.1.0
