---
http_interactions:
- request:
    method: post
    uri: https://api-alpha.work-api.com/email/emails
    body:
      encoding: UTF-8
      string: "----test-boundary\r\nContent-Disposition: form-data; name=\"email\"\r\nContent-Type:
        application/vnd.api+json\r\n\r\n{\r\n  \"data\": {\r\n    \"attributes\":
        {\r\n      \"remote_id\": \"\",\r\n      \"integration_id\": \"5e60f76b99ce66000936897b\",\r\n
        \     \"subject\": \"Test Email Subject\",\r\n      \"body\": {\r\n        \"plain_text\":
        [\r\n          \"This is a plain text body segment\"\r\n        ],\r\n        \"html\":
        [\r\n\r\n        ]\r\n      },\r\n      \"sender\": null,\r\n      \"to_recipients\":
        [\r\n        {\r\n          \"name\": \"Dan\",\r\n          \"address\": \"dan@livil.co\"\r\n
        \       }\r\n      ],\r\n      \"cc_recipients\": [\r\n\r\n      ],\r\n      \"bcc_recipients\":
        [\r\n\r\n      ],\r\n      \"flags\": null\r\n    },\r\n    \"type\": \"email\"\r\n
        \ }\r\n}\r\n\r\n----test-boundary\r\nContent-Disposition: form-data; name=\"files[]\";
        filename=\"test_1.txt\"\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        base64\r\n\r\ndGVzdCBjb250ZW50IG9uZQ==\r\n----test-boundary\r\nContent-Disposition:
        form-data; name=\"files[]\"; filename=\"test_2.txt\"\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        base64\r\n\r\ndGVzdCBjb250ZW50IHR3bw==\r\n----test-boundary--"
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODU3NTY0NDMsImlhdCI6MTU4MzMzNzI0MywiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTRhYmQzYjJjMjgwYTAwMWUzMjFkODgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0NDc1NDk5MEB3b3JrLWFwaS5jb20ifX0.3SS3-tLHDZ0oWMlqrHQZV7RIC13c6I9SbPq-YBBschs
      Content-Type:
      - multipart/form-data; boundary=--test-boundary
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 Mar 2020 16:29:47 GMT
recorded_with: VCR 5.1.0
