---
http_interactions:
- request:
    method: get
    uri: https://api-alpha.work-api.com/email/emails?mailbox_ids%5B%5D=NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOlNFTlQ6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODU3NTY0NDMsImlhdCI6MTU4MzMzNzI0MywiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTRhYmQzYjJjMjgwYTAwMWUzMjFkODgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0NDc1NDk5MEB3b3JrLWFwaS5jb20ifX0.3SS3-tLHDZ0oWMlqrHQZV7RIC13c6I9SbPq-YBBschs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOjE2ZTdiOWQxZjgwYzNhZTg6","type":"email","attributes":{"integration_id":"5e60f76b99ce66000936897b","bcc_recipients":[],"body":{"plain_text":["Send
        to self body2"],"html":[]},"cc_recipients":[],"flags":{"seen":false,"flagged":false},"labels":["unread","sent","inbox"],"received_at":1574031924,"sender":{"name":"","address":"liviltestacc@gmail.com"},"subject":"Test:
        sending to self subj2","thread_id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOjE2ZTdiOWQxZjgwYzNhZTg6","to_recipients":[{"name":"Self","address":"liviltestacc@gmail.com"}]},"relationships":{"mailboxes":{"data":[{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOlVOUkVBRDo6","type":"mailbox"},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOlNFTlQ6","type":"mailbox"},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOklOQk9Y","type":"mailbox"}]},"email_attachments":{"data":[]}}},{"id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOjE2ZTc5MGEzMzM5MTdmY2E6","type":"email","attributes":{"integration_id":"5e60f76b99ce66000936897b","bcc_recipients":[],"body":{"plain_text":["Send
        to self body2"],"html":[]},"cc_recipients":[],"flags":{"seen":false,"flagged":false},"labels":["unread","sent","inbox"],"received_at":1573988741,"sender":{"name":"","address":"liviltestacc@gmail.com"},"subject":"Test:
        sending to self subj2","thread_id":"NWU2MGY3NmI5OWNlNjYwMDA5MzY4OT[...]
- request:
    method: get
    uri: http://localhost:9292/email/emails?mailbox_ids%5B%5D=NWU2MGY3NmI5OWNlNjYwMDA5MzY4OTdiOlNFTlQ6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODU3NTY0NDMsImlhdCI6MTU4MzMzNzI0MywiaXNzIjoiU1BJQ08gQWNjb3VudCIsInVzZXIiOnsiaWQiOiI1ZTRhYmQzYjJjMjgwYTAwMWUzMjFkODgiLCJhcmJpdHJhcnlfaWQiOiJ0ZXN0NDc1NDk5MEB3b3JrLWFwaS5jb20ifX0.3SS3-tLHDZ0oWMlqrHQZV7RIC13c6I9SbPq-YBBschs
  response:
    [...]
